<p class="subtext">(* = Optional)</p>
<form action="/entry/<%= action %><% if (id) { %>/<%= id %><% } %>" method="post" class="entryForm">
    <input type="hidden" id="abilities-data" name="abilities-data" value='<%- JSON.stringify(lib.abilities)%>' %>>
    <input type="hidden" id="equipment-data" name="equipment-data" value='[]' %>>
    
    <label for="name">Name</label>
    <br>
    <input type="text" name="name" id="name" value="<%= predata.name %>" required>
    <br>
    <br>
    <label for="age">Age</label>
    <br>
    <input type="number" name="age" id="age" value="<%= predata.age %>" required>
    <br>
    <br>

    <label for="species-data">Species</label>
    <br>
    <input type="text" name="species" list="species-list" id="species" value="<%= predata.species %>" required>
    <datalist id="species-list">
        <% for( data of lib.species ) { %>
            <option value="<%= data%>"><%= data%></option>
        <% } %>
    </datalist>
    <br>
    <br>
    <label for="origin">Origin</label>
    <br>
    <input type="text" name="origin" list="origin-list" id="origin" value="<%= predata.origin %>" required>
    <datalist id="origin-list">
        <% for( data of lib.origins ) { %>
            <option value="<%= data%>"></option>
        <% } %>
    </datalist>
    <br>
    <br>
    
    <label for="vdescription">Visual description</label>
    <br>
    <textarea name="vdescription" id="" class="formTextArea"><%= predata.vdescription %></textarea>
    <br>
    <br>

    <label for="backstory">Backstory</label>
    <br>
    <textarea name="backstory" id="" class="formTextArea"><%= predata.backstory %></textarea>
    <br>
    <br>

    
    <label for="motivations">Motivations</label>
    <br>
    <textarea name="motivations" id="" class="formTextArea"><%= predata.motivations %></textarea>
    <br>
    <br>

    <label for="equipment-items">Tools and equipment*</label>
    <br>
        <div class="adminFormInpBox">
            <%- include('./anysearch.ejs', { datalist: [], array: [predata.equipment], name: "equipment", require: 'any' }) %>                    
        </div>
    <br>
    <br>
    
    <label for="abilities-item">Abilities*</label>
    <br>
        <div class="adminFormInpBox">
            <%- include('./anysearch.ejs', { datalist: lib.abilities, array: [predata.abilities], name: "abilities", require: 'any' }) %>                    
        </div>
    <br>
    <br>
    <label for="strengths-item">Strengths*</label>
    <br>
        <div class="adminFormInpBox">
            <%- include('./anysearch.ejs', { datalist: lib.strengths, array: [predata.strengths], name: "strengths", require: 'any' }) %>                    
        </div>
    <br>
    <br>
    <label for="weaknesses-item">Weaknesses*</label>
    <br>
        <div class="adminFormInpBox">
            <%- include('./anysearch.ejs', { datalist: lib.weaknesses, array: [predata.weaknesses], name: "weaknesses", require: 'any' }) %>                    
        </div>
    <br>
    <br>

    <% for( stat of stats ) { %>
        <label for="tier"><%= stat.name.replace('_', ' ') %>:</label>
        <%- include('./tier', { name: stat.name }) %>
        <br>
    <% } %>
    
    <div class="center">
        <button>
            <h1>Submit</h1>
        </button>
    </div>
</form>
<script src="/js/tiers.js" defer onload="preEnable(predata)"></script>
<s<%-include('./loadPredataWorkAround.ejs')%>t>